body {
    max-width: 90vw;
    display: flex;
    background-color: #EEE;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
}

li {
    display: flex;
    border: 5px solid black;
    background-color: white;
    align-items: center;
    margin-top: 25px;
}

img {
    padding: 20px;
    width: min-content;
    height: min-content;
}
