* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas: 
    "header header header"
    "aside main main"
    "footer footer footer";
    gap: 10px
}

header {
    grid-area: header;
    background-color: #b5d8ff;
    padding: 10px 20px;
    border-radius: 4px;
}

aside {
    grid-area: aside;
    background-color: #b5d8ff;
    border-radius: 4px;
}

aside ul {
    list-style-type: none;
}

aside ul li a{ 
     text-decoration-line: none;
     color: #72348e;
}

main {
    grid-area: main;
    background-color: #b5d8ff;
    border-radius: 4px;
    padding: 10px 20px;
}

footer {
    grid-area: footer;
    background-color: #b5d8ff;
    border-radius: 4px;
    padding: 10px 20px;
}

@media (max-width: 500px) {
    body {
        display: grid;
        grid-template-areas: 
        "header header"
        "aside aside"
        "main main"
        "footer footer";
    }

    header h1 {
        display: block;
        margin: 0;
        margin-bottom: 5px;
    }

    aside nav ul {
        padding-left: 20px;
    }
}